.scrollbars {
  overflow: auto;
}

.dashboard-table {
  display: table;
  width: 100%;
}

.dashboard-header-group {
  display: table-header-group;
  background-color: white;
  font-weight: bold;
}

.dashboard-row  {
  display: table-row;
}

.dashboard-row.green {
  background-color: green;
}

.dashboard-row.yellow {
  background-color: yellow;
}

.dashboard-row.orange {
  background-color: orange;
}

.dashboard-row.red {
  background-color: red;
}

.dashboard-cell {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid black;
}

.dashboard-cell.client {
  min-width: 250px;
}

.borders {
  border: 1px solid black;
}

#sources {
  margin: 0px;
  background-color: white;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

#sources > li {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.source.sel {
  background-color: 'blue';
}

#title {
  font-size: 26px;
  font-weight: bold !important;
  line-height: 26px !important;
}