.scrollbars {
  overflow: auto;
}

.dashboard-table {
  display: table;
  width: 100%;
}

.dashboard-row  {
  display: table-row;
}

.dashboard-row.green {
  background-color: green;
}

.dashboard-row.yellow {
  background-color: yellow;
}

.dashboard-row.orange {
  background-color: orange;
}

.dashboard-row.red {
  background-color: red;
}

.dashboard-cell {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid black;
}

.dashboard-cell.client {
  min-width: 250px;
}